@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;1,100&display=swap');

.notification {
    text-align: right;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #252525;
    height: 100%;
}

header {
    flex: 0 40px;
    color: rgb(219, 219, 12);
    background-color: black;
}

.plex {
    position: absolute;
    left: 25%;
    top: 10px;
    justify-content: right;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 3;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 0.5em;
}