@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;1,100&display=swap');

.notification {
    text-align: right;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: #252525;
}

header {
    color: rgb(219, 219, 12);
}